<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lewa.droidtest"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_USB" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> 
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".MainActivity" />
        <activity
            android:name="com.lewa.droidtest.MainActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
             <meta-data
             android:name="android.app.searchable"
             android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.lewa.droidtest.lock.LockActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateVisible"
            android:clearTaskOnLaunch="true" >
            <intent-filter>
                
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.lewa.droidtest.lock.TopmostActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lewa.droidtest.LayoutActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="com.lewa.droidtest.mms.MmsSenderService" />

        <receiver android:name="com.lewa.droidtest.mms.sms.SentIntentReceiver" >
        </receiver>
        <receiver android:name="com.lewa.droidtest.mms.sms.DeliveryIntentReceiver" />

        <service android:name="com.lewa.droidtest.lock.LockDialogService" >
        </service>

        <receiver android:name="com.lewa.droidtest.am.Am" >
            <intent-filter>
                <action android:name="droidTest.am" >
                </action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.lewa.droidtest.test.TestReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.mock" >
                </action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.lewa.droidtest.alarm.AlarmReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.android.deskclock.ALARM_ALERT" >
                </action>
            </intent-filter>
        </receiver>
        
        <receiver android:name="com.lewa.droidtest.pm.PackageChangeReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_CHANGED" >
                </action>

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        
        <provider 
            android:name=".provider.ProviderTest"
            android:authorities="com.lewa.droidtest">
        </provider>
        <receiver 
            android:name=".provider.ProviderTestReceiver">
            <intent-filter >
                <action android:name="droidtest."/>
            </intent-filter>
        </receiver>
        
        <service 
            android:name=".ToastService">
        </service>
    </application>

</manifest>